<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DENR NCR{% endblock %}</title>

    {% load static %}  
    <link rel="icon" href="{% static 'images/denr-logo.png' %}">
    {% include 'includes/scripts.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% include 'includes/loader.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        {% include 'includes/navbar.html' %}

        <div class="content-wrapper px-4 py-4">
            {% block content %}
            <!-- Content -->
            {% endblock %}
        </div>

        {% include 'includes/footer.html' %} 
    </div>
    
    <!-- Django messages via swal -->
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
                Swal.fire({
                    title: 'Notice',
                    text: '{{ message|escapejs }}',
                    icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% elif "warning" in message.tags %}warning{% else %}info{% endif %}',
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        });
    </script>
    {% endif %}
</body>
</html>

<style>
{% comment %} Global Styles {% endcomment %}
p {
    margin: 0;
    padding: 0;
}

h2 {
    color: #2c3e50;
    font-weight: 800;
}

body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-heigh: 100vh;
}

.content-wrapper {
    flex: 1;
}

</style>

